h1 {
    color: gray;
    font-size: 45px;
    margin-top: 10px;
}
h2 {
    color: gray;
    text-align: center;
    font-size: 35px;
}
img {
    height: 150px;
    width: 150px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 300px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 12px 24px;
    text-decoration: none;
    text-align: left;
    font-size: 25px;
    font-weight: bold;
  }
  
  li a:hover {
    background-color: #555;
    color: white;
  }
  .heading {
    display: flex;
    height: 175px;
    padding: auto;
    align-items: center;
  }
  .heading>.img {
    background-color:white;
    width: 150px;
    height: 150px;
    margin: 10px;

  }
  .heading>.name {
    background-color:white;
    width: 1500px;
    margin-left: 10px;
    text-align: center;
    padding-left: 10px;
  }
  .content {
    display: flex;
    align-items: center;
  }
  .content>.profile {
    text-align: center;
    font-weight: bold;
    background-color: white;
    width: auto;
    height: auto;
    padding-left: 300px ;
  }
  .disclaimer{
    text-align: center;
    font-weight: bold;
    border: 1px gray;
    background-color:gray;
    color: white;
  }
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
   th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  .logout {
    text-align: right;
    color: #000;
  }