table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
  }
  
   th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  td {
    text-align: center;
    padding: 8px;
  }
  .back{
    text-align: right;
  }
  .back>a {

    color: #000;

  }
  .btn{
    padding: 6px 20px;
    border: 2px solid rgb(250, 49, 9);
    background-color: rgb(211, 216, 212);
    margin: 13px 0px;
    border-radius: 20px;
    font-size: 17px;
    color: rgb(9, 14, 10);
    cursor: pointer;
    width: 25%;
  }