.courses {
  display: flex;
  height: 175px;
  padding: 20px;
  align-items: center;
  margin-left: 20px;
  background-color: white;
 
}
.courses>.course1{
  background-color:blanchedalmond;
  width: 250px;
  margin: 10px;
  border: 3px solid black;
  color:#555;
  height:auto;
  text-align: center;
}
.courses>.course2{
  background-color:blanchedalmond;
  width: 250px;
  border: 3px solid black;
  color: #555;
  height: auto;
  text-align: center;
}
a {
  display: block;
  color:black ;
  padding: 25px 25px 25px 25px;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
a:hover {
  background-color:gold;
  color: black;
  height: auto;
}
h1 {
  color: gray;
  font-size: 45px;
  margin-top: 10px;
}
h2 {
  color: gray;
  text-align: center;
  font-size: 35px;
}
img {
  height: 150px;
  width: 150px;
}
.heading {
display: flex;
height: 175px;
padding: auto;
align-items: center;
}
.heading>.img {
background-color:white;
width: 150px;
height: 150px;
margin: 10px;

}
.heading>.name {
background-color:white;
width: 1500px;
margin-left: 10px;
text-align: center;
}
.selection{
font-size:25px ;
font-weight: bold;
margin-left: 10px;
}