<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STUDENT PROFILE</title>
    <link rel="stylesheet" href="./teacher homepage.css">
    <link rel="icon" type="image/x-icon"
        href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.digitaled.com%2F&psig=AOvVaw1rvTcNKDtSM_SV0KCcM2Hb&ust=1678802369969000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCNjvlqmI2f0CFQAAAAAdAAAAABAE">
</head>

<body>
    <div class="heading">
        <div class="img">
            <img src="http://www.mnnit.ac.in/institutelogo/MNNIT%20Logo%20New.jpg" alt="MNNIT LOGO">
        </div>
        <div class="name">
            <h1>
                MOTILAL NEHRU NATIONAL INSTITUTE OF TECHNOLOGY
            </h1>
            <h2>
                ALLAHABAD, Estd. 1961
            </h2>
        </div>
    </div>
    <hr>
    <br>
    <div class="disclaimer">
        "DISCLAIMER"
    </div>
    <br>
    <div class="content">
        <div class="navigation_bar">
            <ul>
                <li><a href="./PAGES/HOME.html">HOME</a></li>
                <li><a href="http://localhost:8081/Mark">MARK ATTENDANCE</a></li>
                <li><a href="./PAGES/ASSIGNMENT.html.html">ASSIGNMENT</a></li>
                <li><a href="http://localhost:8081/Upload_Result">UPLOAD RESULTS</a></li>
                <li><a href="/QUIZ">QUIZ</a></li>
                <li><a href="/DISS">DISCUSSION</a></li>
            </ul>
        </div>
        <div class="profile">
            <table>
                <%
        if(userData.length!=0){
        var i=1;
        userData.forEach(function(data){
        %>
                <tr>
                    <th>PROFILE PICTURE</th>
                    <td><img src="./teacherlogo.png" alt="PROFILE PICTURE"></td>
                </tr>
                <tr>
                    <th>NAME</th>
                    <td><%=data.name%></td>
                </tr>
                <tr>
                    <th>DEPARTMENT</th>
                    <td><%=data.branch%></td>
                </tr>
                <tr>
                    <th>GENDER</th>
                    <td><%=data.gender%></td>
                </tr>
                <%  i++; }) %>
            <% } %>

            </table>


        </div>
    </div>
    <div class="logout">
        <a href="http://localhost:8081/Login">LOGOUT</a>
    </div>
</body>

</html>